@import "variables", "reset";

* {
  font-family: $bf-font-family;
  color: $bf-text-color;
  font-weight: $bf-text-thin;
  font-size: 12px;
  scrollbar-width: none;
}

body {
  font-family: $bf-font-family;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $bf-transition;

  img {
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: $bf-background-color-transparent;
  }
  @media screen and (max-width: $bf-screen-sm) {
    font-size: $bf-text-size-small;
    padding: 4px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.nav-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $bf-transition;
  font-size: $bf-text-size-small;

  &:hover {
    background-color: $bf-background-color-transparent;
  }
}

.btn {
  border: none;
  border-radius: $bf-border-radius-btn;
  padding: 0.4rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $bf-text-size-small;
  font-weight: $bf-text-bold;
  cursor: pointer;
  transition: $bf-transition;

  img {
    width: 24px;
    height: 24px;
  }
  &:hover {
    transform: scale(1.1);
  }

  @media screen and (max-width: $bf-screen-sm) {
    font-size: $bf-text-size-small;
    padding: 0.4em 1em;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.main-btn {
  background-color: #fff;
  color: #000;
}
.secondary-btn {
  background-color: $bf-secondary-btn-color;
  color: #fff;
}
