@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$bf-background-color: #141414;

$bf-text-color: #fff;
$bf-font-family: "Open Sans", sans-serif;
$bf-text-thin: 400;
$bf-text-bold: 700;
$bf-text-size-xSmall: 14px;
$bf-text-size-small: 16px;
$bf-text-size-medium: 20px;
