@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$bf-background-color: #141414;
$bf-background-color-transparent: #e2e2e225;
$bf-netflix-color: #e50914;
$bf-secondary-btn-color: rgba(204, 255, 255, 0.5);

// white
$bf-white-normal: rgb(255, 255, 255);
$bf-white-normal-hover: rgb(230, 230, 230);
$bf-white-normal-active: rgb(204, 204, 204);

// white transparent
$bf-white-transparent: rgba(255, 255, 255, 0.5);
$bf-white-transparent-hover: rgba(230, 230, 230, 0.5);
$bf-white-transparent-active: rgba(204, 204, 204, 0.5);

// grey transparent
$bf-grey-transparent: rgba(255, 255, 255, 0.2);
$bf-grey-transparent-hover: rgba(230, 230, 230, 0.2);
$bf-grey-transparent-active: rgba(204, 204, 204, 0.2);

// dark grey
$bf-grey-normal: rgb(45, 45, 45);
$bf-grey-normal-hover: rgb(41, 41, 41);
$bf-grey-normal-active: rgb(36, 36, 36);

$bf-text-color: $bf-white-normal;
$bf-text-secondary-color: rgb(171, 171, 171);
$bf-text-valutation-color: rgb(58, 176, 37);

// btn bg colors
// primary btn
$bf-btn-bg-main: $bf-white-normal;
$bf-btn-bg-main-hover: $bf-white-normal-hover;
$bf-btn-bg-main-active: $bf-white-normal-active;

// secondary btn
$bf-btn-bg-secondary: $bf-white-transparent;
$bf-btn-bg-secondary-hover: $bf-white-transparent-hover;
$bf-btn-bg-secondary-active: $bf-white-transparent-active;

$bf-font-family: "Open Sans", sans-serif;
$bf-text-thin: 400;
$bf-text-bold: 700;
$bf-text-size-xxs: 10px;
$bf-text-size-xs: 14px;
$bf-text-size-sm: 16px;
$bf-text-size-md: 20px;

$bf-border-radius: 10px;
$bf-border-radius-btn: 4px;

$bf-transition: 250ms ease-in-out;
$bf-transition-click: 50ms ease-in-out;

// Breakpoints
$bf-screen-xxs: 0px;
$bf-screen-xs: 320px;
$bf-screen-sm: 600px;
$bf-screen-md: 960px;
$bf-screen-lg: 1280px;
$bf-screen-xl: 1920px;

// chips bg color
$bf-chips-bg: #ffffff20;

// valutations color
$bf-valutation-low: #dc1e1e;
$bf-valutation-low-hover: #f20909;
$bf-valutation-medium: #a6a610;
$bf-valutation-medium-hover: #f9f907;
$bf-valutation-high: #45c61a;
$bf-valutation-high-hover: #4cff10;

$bf-shadow: 0px 8px 40px rgba(0, 0, 0, 0.5);
